html {
  height: 100%;
}
body {
  min-height: 100%;
}

.Centered {
  width: 80%;
  height: 100%;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.MainTable {
  display:table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.LeftPart {
  display: table-cell;
  vertical-align: middle;
  width: 1%;
  text-align: right;
}

.RightPart {
  display: table-cell;
  vertical-align: middle;
}

.VideoPart {
  text-align: center;
}

.PerspectivePosterPart {
  perspective: 300px;
}
.PerspectivePoster {
  transform: rotateY(10deg);
  -webkit-box-reflect: below 0px -webkit-linear-gradient(bottom, rgba(255,255,255,0.3) 0%, transparent 40%, transparent 100%);
}

.Page-Background {
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  background-color: black;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  filter: blur(6px);
  transform: scale(1.03); /* To hide the blurred edges */
}

.Timer-Container {
  display: block;
  text-align: center;
}

.Time-Remaining {
  font-family: "Share Tech Mono";
  font-size: 100px;
  -webkit-text-stroke: 0px black;
  text-shadow: 2px 2px black;
  color: white;
}

.Embedded-Video-Container {
  display: inline-block;
}

.Embedded-Video-Close {
  text-align:  right;
  width: 100%;
}

.Embedded-Video-Close-Link {
  font-family: "Roboto";
  font-size: 20px;
  -webkit-text-stroke: 1px black;
  color: white;
  text-decoration: none;
}

.Feature-Text {
  font-family: "Cinzel";
  font-size: 70px;
  -webkit-text-stroke: 0px black;
  text-shadow: 2px 2px black;
  color: white;
}

iframe {
  resize: both;
  overflow: auto;
}
